body {
  font-family: "Rajdhani", sans-serif;
  /* font-weight: bold; */
  top: 0;
  left: 0;
  
}

@media only screen and (max-width: 600px) {
  .header {
    background-image: url("../../images/rock-mobile.png");
    /* background-repeat: no-repeat; */
    /* background-color: white; */
    background-size: cover;
    height: 337px;
    box-shadow: 0px 1px 2px #a99e9e;
  }

  .toolbar_navigation_items {
    display: none;
  }

  div .logo {
    display: none;
  }

  .social_media {
    display: none;
  }

  .social_and_logo {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fa-facebook-square {
    font-size: 35px;
    color: #45bfe8;
    margin: 30px 15px 0px -50px;
  }

  .fa-twitter-square {
    position: relative;
    font-size: 35px;
    color: #45bfe8;
    margin: 30px 15px 0px 15px;
  }

  .fa-envelope-open {
    position: absolute;
    top: 188px;
    font-size: 35px;
    color: #585757;
    margin: 40px 0px 20px 15px;
  }

  .logo_name {
    font-size: 30px;
    font-weight: bold;
    color: #3dbeea;
    margin: 50px 0px -4px 0px;
    padding: 0px;
  }

  .logo_job_title {
    font-size: 30px;
    font-weight: bold;
    color: #585757;
  }

  .logo_slogan {
    font-size: 12px;
    font-weight: bold;
    color: #3dbeea;
    margin: -3px;
    padding: 0px;
  }

  /* .social_media_mobile a {
    margin: 3px;
  } */

  .toggle_button {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}

@media only screen and (min-width: 601px) {
  .header {
    width: auto;
    background-image: url("../../images/rocks-img.png");
    background-size: cover;
    box-shadow: 0px 2px 4px #a99e9e;
    /* width: 100%; */
    height: 500px;
  }

  .navbar {
    position: relative;
    display: flex;
    height: 40px;
    top: 30px;
    background-color: rgba(69, 191, 232, 90);
    justify-content: space-between;
    opacity: 0.9;
    box-shadow: 0px 2px 4px #a99e9e;
  align-items: center;
  padding: 0 1rem;
  }

  .social_and_logo {
    display: none;
  }

  .desktop_logo_social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 30px 10%;
  }

  a:link {
    text-decoration: none;
  }

  .logo_name {
    font-size: 30px;
    font-weight: bold;
    color: #3dbeea;
    margin: 50px 0px -4px 0px;
    padding: 0px;
  }

  .logo_job_title {
    font-size: 30px;
    font-weight: bold;
    color: #585757;
  }

  .logo_slogan {
    font-size: 12px;
    font-weight: bold;
    color: #3dbeea;
    margin: -3px;
    padding-left: 90px;
  }

  .social_media {
    padding: 50px 50px 0px 0px;
  }
  
  .fa-facebook-square {
    font-size: 30px;
    color: #45bfe8;
    margin: 15px;
  }
  
  .fa-facebook-square:hover {
    font-size: 30px;
    color: #585757;
    margin: 15px;
  }
  
  .fa-twitter-square {
    /* position: relative; */
    font-size: 30px;
    color: #45bfe8;
    margin: 15px;
  }
  
  .fa-twitter-square:hover {
    /* position: relative; */
    font-size: 30px;
    color: #585757;
    margin: 15px;
  }
  
  .fa-envelope-open {
    position: absolute;
    top: 105px;
    font-size: 30px;
    color: #45bfe8;
    margin: 15px;
  }
  
  .fa-envelope-open:hover {
    /* position: absolute; */
    top: 105px;
    font-size: 30px;
    color: #585757;
    margin: 15px;
  }

  ul.toolbar_navigation_items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation_items li {
    padding: 0 1.5rem;
  }
  
  .toolbar_navigation_items a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-style: solid 1px white;
  }
  
  .toolbar_navigation_items a:active {
    font-weight: bold;
  }
  
  .toolbar_navigation_items a:hover {
    color: #585757;
  }

  
}

/* .my-heading {
  top: 250px;
  left: 100px;
  width: 450px;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  color: #575858;
} */

/* .header {
  background-image: url("../../images/rocks-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  height: 500px;  */

/* box-shadow: 0px 2px 4px #a99e9e;
}


.navbar {
  position: relative;
  display: flex;
  height: 40px;
  top: 30px;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(69, 191, 232, 90);
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
  box-shadow: 0px 2px 4px #a99e9e;
}

.desktop

.social_and_logo {
  display: none;
}



.logo_name  {
  font-size: 30px;
  font-weight: bold;
  color: #3DBEEA;
  margin: 50px 0px -4px 0px;
  padding: 0px;
}

.logo_job_title  {
  font-size: 30px;
  font-weight: bold;
  color: #585757;
}

.logo_slogan  {
  font-size: 12px;
  font-weight: bold;
  color: #3DBEEA;
  margin: -3px;
  padding: 0px;
}

.desktop_logo_social {
  display: flex;
  justify-content: space-between;
}

.social_media {
  position: relative;
  margin-top: 85px;
  margin-right: 95px;
}

.fa-facebook-square {
  font-size: 35px;
  color: #45bfe8;
  margin: 15px;
}

.fa-facebook-square:hover {
  font-size: 35px;
  color: #585757;
  margin: 15px;
}

.fa-twitter-square {
  position: relative;
  font-size: 35px;
  color: #45bfe8;
  margin: 15px;
}

.fa-twitter-square:hover {
  position: relative;
  font-size: 35px;
  color: #585757;
  margin: 15px;
}

.fa-envelope-open {
  position: absolute;
  top: -3px;
  font-size: 35px;
  color: #45bfe8;
  margin: 15px;
}

.fa-envelope-open:hover {
  position: absolute;
  top: -3px;
  font-size: 35px;
  color: #585757;
  margin: 15px;
}


.logo a {
  
  color: rgb(96, 201, 213);
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 60px;
  margin-left: 120px;
}

ul.toolbar_navigation_items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 1.5rem;
}

.toolbar_navigation_items a {
  color: white;
  text-decoration: none;
  border-style: solid 1px white;
}

.toolbar_navigation_items a:active {
  color: aqua;
  z-index: 200;
}

.toolbar_navigation_items a:hover {
  color: #585757;
}
} */

/* below this line was css that wasnt working but some was being :-moz-user-disabled */

/* @media (min-width: 1200px) {
  .my-heading {
    top: 200px;
  }
}

@media (max-width: 768px) {
  ul.toolbar_navigation_items {
    display: none;
  }
  .my-heading {
    /* position: fixed; */
/* top: -250px; */
/* left: 100px; */
/* width: 400px; */
/* font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", */
/* sans-serif; */
/* color: #575858; */
/* } */
/* .social_media {
    display: none;
  }
  .navbar {
    top: 5rem;
    left: 2rem;
    height: 50px;
    background-color: #fdffff;
    box-shadow: none;
    background-color: rgba(69, 191, 232, 0);
  }
}

@media (max-width: 768px) {
.header {
  background-image: url("../../images/rock-mobile.png");
  right: 30px;
}
} */
