@media only screen and (max-width: 600px) {
  .main-area {
    top: 0;
  }

.outer_frame_heading {
  display: flex;
  justify-content: center;
}
  
  .my-heading {
    /* display: none; */
    color: #3DBEEA;
    font-size: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 2px #a99e9e;
    margin-top: 20px;
  }

  .my-heading p {
    font-size: 14px;
    font-weight: bold;
  }

  .outside_frame  {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .top1 {
    /* align-items: center; */
    background-image: url("../../images/aletheaallenpicture.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px;
    width: 200px;
    height: 220px;
    box-shadow: 0px 1px 2px #a99e9e;
    border: white solid 10px;
    border-radius: 2px;
  }
  
  .top2 {
    margin: 0px 15px 15px 15px;
    display: block;
    min-width: 300px;;
    height: auto;
    padding: 5px;
    /* box-shadow: 0px 1px 2px #a99e9e; */
    flex-grow: 1;
    border-radius: 2px;
  }
  p {
    text-align: justify;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom p {
    color: white;
    font-weight: bold;
  }

  .box_label {
    background-color: #3DBEEA;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid white;
    z-index: 100;
  }

  .overlay {
    background-color: rgba( 61, 190, 234, .7);

    /* margin: 15px; */
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom_left {
    margin: 15px;
    width: 225px;
    height: 225px;
    background-image: url("../../images/contact.png");
    box-shadow: 0px 2px 4px #a99e9e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom_centre {
    margin: 15px;
    width: 225px;
    height: 225px;
    border-radius: 2px;
    background-image: url("../../images/hypnotherapy.png");
    box-shadow: 0px 2px 4px #a99e9e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom_right {
    margin: 15px;
    width: 225px;
    height: 225px;
    border-radius: 2px;
    background-image: url("../../images/services.png");
    box-shadow: 0px 2px 4px #a99e9e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) {

.my-heading {
  top: 300px;
  position: fixed;
  left: 50%;
  margin-left: -480px;
}

.my-heading-width {
  font-size: 24px;
}

section {
  width: 100%;
  justify-content: center;
  display: flex;
}

.outside_frame {
  border: 2px solid black;
  position: relative;
  width: 950px;
}

.top1 {
  align-content: center;
  margin: 15px;
  width: 225px;
  height: 249px;
  border: 2px solid black;
}

.top2 {
  margin: 15px;
  display: block;
  min-width: 300px;;
  height: 249px;
  border: 2px solid black;
  flex-grow: 1
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.bottom_left {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}

.bottom_centre {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}

.bottom_right {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}
}

/* This is just css that I couldn't get working properly. */

/* @media (min-width: 769px) {
  .top {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .my-heading {
    top: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .my-heading {
    margin-left: -390px;
  }
}

@media (max-width: 768px) {
  .my-heading {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .top {
    flex-direction: column;
    align-items: center;
  }

  .bottom {
    flex-direction: column;
  }

  .outside_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

} */
