.my-heading {
  /* border: 2px solid black; */
  top: 300px;
  position: fixed;
  /* width: 950px; */
  left: 50%;
  margin-left: -480px;
}

.my-heading-width {
  /* width: 450px; */
  font-size: 24px;
}

section {
  width: 100%;
  justify-content: center;
  display: flex;
}

.outside_frame {
  border: 2px solid black;
  /* top: 430px; */
  position: relative;
  width: 950px;
}

.top1 {
  align-content: center;
  margin: 15px;
  width: 225px;
  height: 249px;
  border: 2px solid black;
}

.top2 {
  margin: 15px;
  display: block;
  min-width: 300px;;
  height: 249px;
  border: 2px solid black;
  flex-grow: 1
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.bottom_left {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}

.bottom_centre {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}

.bottom_right {
  margin: 15px;
  width: 225px;
  height: 225px;
  border: 2px solid black;
}

@media (min-width: 769px) {
  .top {
    display: flex;
  }
}

@media screen and (max-width: 575px) {
  .top {
    flex-direction: column;
    align-items: center;
  }

  .bottom {
    flex-direction: column;
  }

  .outside_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
