.toggle_button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
    width: 30px;;
    height: 3px;
    background: #575858;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    
}

@media (min-width: 769px) {
  .toggle_button {
    display: none;
  }
  }