/* main {
position: relative;
}

p   {
    z-index: 100;
}

.app {
    display: flex;
    flex-direction: column;
} */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap" rel="stylesheet');
